$primary: #fff;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.title {
  color: #ff0080;
  font-size: 40px;
  margin: -5px;
  margin-left: 65px;
  font-family: 'Luckiest Guy';
}
//
.title2 {
  font-family: 'Orbitron', sans-serif;
}

// .bg-primary {
//  // background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
//  // background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
//  // background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
// //  background-color: #e056fd;
// // background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);
// // background: linear-gradient(to right, #464c53 16%, #ff8ab3 100%);
// }

.bg-primary {
  margin: -5px;
}


.home {
  color: #f00;
  font-size: 30px;
}

.about {
  color: #f00;
  font-size: 30px;
  margin-right: 12vh;
}

.sneakers {
  color: #f00;
  font-size: 30px;
  margin-left: -12vh;
  margin-right: 12vh;
}


.about-headline {
  font-size: 50px;
  color: #ffa500;
}

.about-developer {
  font-size: 50px;
  color: #ffa500;
}

.about-intro {
  font-size: 1.5rem;
}

.about-me {
  font-size: 1.5rem;
}

.footer {
  padding: 1em;
  text-align: center;
  font-size: 12px;
}

.image {
  background: url('./Nothing-But-Soul.jpg') center center / cover no-repeat;
  background-size: contain;
  float: right;
  width: 63vh;
  height: 70vh;
  margin: 5px;
  margin-top: 30px;
}

.navbar-dark .navbar-toggler-icon {
  background-color: white;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline-color: black;
}


.tc {
  background: url('./Sneak-Peek-Background.png') center center / cover no-repeat;
  width: 100%;
  margin: auto;
  height: 100vh;
  background-size: 100% 100%;
  justify-content: center;
}

.shoeList {
  width: 100%;
}

.card-container {
  background-color: white;
  height: 100%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  margin-top: 40px;
  transition: 0.3s;
  margin: auto;
  padding: 10px;
  background-position: center;
  animation: ease-in;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 10px #ffa500;
}

.image-container img {
  overflow: hidden;
  height: 200px;
}

.part2 {
  padding: 1rem;
  margin-top: 47vh;
  margin-bottom: 44vh;
  width: 50%;
  margin-left: 5px;
}

.gridWrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto auto auto;
  box-sizing: border-box;
  grid-gap: 3px;
}

@media screen and (max-width: 1920px) {
  .gridWrapper {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1366px) {
  .gridWrapper {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1024px) {
  .gridWrapper {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 960px) {
  .gridWrapper {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 820px) {
  .gridWrapper {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 690px) {
  .gridWrapper {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 570px) {
  .gridWrapper {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto auto;
    box-sizing: border-box;
  }
}



@media screen and (max-width: 390px) {
  .gridWrapper {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
    box-sizing: border-box;
  }
}
