$primary: #fff;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.title {
  color: #ff0080;
  font-size: 40px;
  margin: -5px;
  margin-left: 65px;
  font-family: 'Luckiest Guy';
}
//
.title2 {
  font-family: 'Orbitron', sans-serif;
}

// .bg-primary {
//  // background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
//  // background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
//  // background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
// //  background-color: #e056fd;
// // background-image: linear-gradient(315deg, #e056fd 0%, #000000 74%);
// // background: linear-gradient(to right, #464c53 16%, #ff8ab3 100%);
// }

.bg-primary {
  margin: -5px;
}


.home {
  color: #f00;
  font-size: 30px;
}

.about {
  color: #f00;
  font-size: 30px;
  margin-right: 12vh;
}

.sneakers {
  color: #f00;
  font-size: 30px;
  margin-left: -12vh;
}

.images {
  color: #f00;
  font-size: 30px;
}

.about-headline {
  font-size: 50px;
  color: #ffa500;
}

.about-developer {
  color: #ffa500;
}

.about-intro {
  font-size: 1.5rem;
}

.about-me {
  font-size: 1.5rem;
}

.image {
  background: url('./Nothing-But-Soul.jpg') center center / cover no-repeat;
  background-size: contain;
  float: right;
  width: 63vh;
  height: 85vh;
  margin: 10px;
}


.tc {
  background-image: url('./Sneak-Peek-Background.png');
  // position: none;
  width: 100%;
  height: 100vh;
  background-size: cover;
  // margin-bottom: auto;
  // margin: 0;
  // background-repeat: no-repeat;
  // display: flex;
  // align-items: center;
  // object-fit: contain;
  background-position: center;
  position: sticky;
  // top: 70px;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // margin: auto;
  // min-width: 50%;
  // min-height: 50%;
}

.shoeList {
  text-align: center;
  background-color: white;
}

.card-container {
  background-color: white;
  width: 355px;
  height: 355px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  margin-top: 80px;
  transition: 0.3s;
  // margin: 60px 10px 10px;
  margin: 10px;
  padding: 10px;
  background-position: center;
  margin-left: 45px;
  // margin-right: auto;
  // transition: 0.5s;
  // animation: ease-in-out;
  animation: ease-in;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 10px #ffa500;
}

.image-container img {
  overflow: hidden;
  height: 200px;
}

.grid {
  display: grid;
  grid-gap: 1em;
  width: 20px;
  margin-top: 30px;
  // grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
}

// .card__container {
//     display: flex;
//     flex-direction: column;
//     text-align: center;
//     background-color: #95dada;
//     border: 1px solid grey;
//     border-radius: 5px;
//     padding: 25px;
//     cursor: pointer;
//     -moz-osx-font-smoothing: grayscale;
//     backface-visibility: hidden;
//     transform: translateZ(0);
//     transition: transform 0.25s ease-out;
//     max-width: 250px;
// }
//
// .card__container:hover {
//     transform: scale(1.05);
// }
//
// .cardlist__cardlist {
//     width: 85vw;
//     margin: 0 auto;
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     grid-gap: 20px;
// }

//
// .sign-in {
//   color: #f00;
// }
//
// .body {
//   background-image: url('./Sneak-Peek-Background.png');
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   // background-position: center;
// }

// .input {
//   margin-left: 650px;
//   margin-top: 100px;
//   // color: #f00;
// }

.part1 {
  padding: .5rem;
}

.part2 {
  padding: 1rem;
  margin-top: 47vh;
  // margin-top: 45vh;
  width: 320px;
  margin-left: 5px;
}
